body {
  background: #f8e8a6;
}
h1,
p {
  display: block;
  text-align: center;
}
h1 {
  margin: 21px 0;
}
p {
  margin: 16px 0;
}
.croissant-photo {
  max-width: 25%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.navigation-links {
  text-align: center;
}
.navigation-links a {
  margin: 0 10px;
}
